// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tolkien {
  @include span-columns(10 of 10);
  img {
    max-width: 100%;
    margin: -2em auto -1em;
  }
}

#portrait {
  @include span-columns(4 of 10);
  img {
    max-height: 35em;
    max-width: 100%;
    margin: auto;
  }
}

#about {
  @include span-columns(6 of 10);
}
