#map {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.location-popup {
  max-height: 450px;
  width: 300px;
  h3 {
    margin-top: -5px;
  }
  img {
    display: block;
    max-height: 300px;
    margin: 0 auto;
  }
  p {
    margin: 0;
    padding: 6px;
    width: 100%;
    color: black;
  }
  div.body {
    margin: 0;
    padding: 6px;
    width: 100%;
    div {
      color: black;
    }
  }
  .link {
    color: #0078a8;
  }
  .link:hover {
    text-decoration: underline;
  }
  .bx-wrapper {
    border: none;
    box-shadow: none;
  }
}
