#map {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.location-popup {
  max-height: 420px;
  max-width: 300px;
  img {
    width: 100%;
  }
  p {
    margin: 0;
    padding: 6px;
    min-width: 300px;
    color: black;
  }
  .link {
    color: #0078a8;
  }
  .link:hover {
    text-decoration: underline;
  }
}
