#photo-list {
  background-color: rgba(255,255,255,0.35);
}

.imagetile {
  display: inline-block;
  width: 32%;
  padding: 2%;
  img {
    width: 100%;
  }
}

.photo-full-display {
  width: 100%;
  background-color: rgba(255,255,255,0.35);
  padding: 1em;
  img {
    display: block;
    margin: auto;
    max-height: 70vh;
  }
  p {
    margin: 0.5em auto;
    max-width: 70%;
    text-align: center;
    font-size: 1.2em;
  }
}

.new_photo {
  div {
    padding: 8px 0px;
  }
  #image_preview {
    visibility: hidden;
  }
}

.edit_photo {
  div {
    padding: 8px 0px;
  }
  #photo_image {
    visibility: hidden;
  }
}

#photo-slideshow {
  visibility: hidden;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  padding: 10% 15%;
  background-color: rgba(0,0,0,0.5);
  .photo-full-display {
    background: none;
  }
  .bx-wrapper {
    border: 0px;
    background-color: black;
    img {
      margin-top: 1em;
    }
    p {
      color: white;
    }
  }
}

