.imagetile {
  display: inline-block;
  width: 32%;
  padding: 2%;
  img {
    width: 100%;
  }
}

.photo-full-display {
  width: 100%;
  img {
    display: block;
    margin: auto;
    max-height: 70vh;
  }
}
