.post-full-display {
  position: relative;
  padding: 1em;
  margin-bottom: 1em;
  background-color: rgba(255,255,255,0.5);
  h2 {
    margin: 0.5em 0px;
  }
}

.positioned-photo {
  img {
    display: block;
    max-width: 75%;
  }
}
