<div id='photo-list'>
  <% Photo.published.reverse.each do |photo| %>
    <%= render partial: 'tile', locals: { photo: photo } %>
  <% end %>
</div>

<div id='photo-slideshow' onclick='closeSlideshow(event)'>
  <ul class="bxslider gallery">
    <% Photo.published.reverse.each do |photo| %>
      <li><%= render partial: 'slide', locals: { photo: photo } %></li>
    <% end %>
  </ul>
</div>
