<div class="editable">
  <%= render partial: 'post', locals: { post: @post } %>
  <button onclick="savePost('POST', '<%= posts_path %>', false)">Save</button>
  <button onclick="savePost('POST', '<%= posts_path %>', true)">Publish</button>
</div>
