var pinIcon = L.icon({
    iconUrl: "<%= image_path 'pin_final.png' %>",
    iconSize: [51,67],
    iconAnchor: [15,60],
    popupAnchor: [16,-55]
});

var lastMarker;

var addMarkers = function(map, locations) {
    locations.forEach(function(loc) {
        marker = L.marker([loc.latitude, loc.longitude], {icon: pinIcon});
        if (loc.orderedContent.length > 0) {
            marker.bindPopup(loc.popupContent());
        } else {
            marker.bindPopup(loc.name);
        }
        marker.addTo(map);
        lastMarker = marker;
    });
    map.on('popupopen', function() {
        $('.bxslider.popup').bxSlider();
    });
};

var centerMap = function(map, loc) {
    map.setView([loc.latitude + 3, loc.longitude], 6);
    lastMarker.openPopup();
};

var initMap = function() {
    if ($('#map').get().length < 1) {
      return;
    }
    var map = L.map('map');
    var StamenWatercolor = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        subdomains: 'abcd',
        minZoom: 1,
        maxZoom: 16,
        ext: 'png'
    });
    StamenWatercolor.addTo(map);
    map.zoomControl.setPosition('bottomleft');
    $.ajax({ url: '/locations' })
        .done(function(data) {
            var locations = data['locations'].map( function(json) {
                return new Location(json['name'], json['latitude'], json['longitude'], json['orderedContent']);
            });
            addMarkers(map, locations);
            centerMap(map, locations.slice(-1)[0]);
        });
};

$(document).ready(initMap);
$(document).on('page:load', initMap);
