<div id="tolkien">
  <%= image_tag 'tolkien_quote.png' %>
</div>

<div id="portrait">
  <%= image_tag 'about_us_portrait.jpg' %>
</div>

<div id="about">
  <h2 style="margin-top: 0px;">ABOUT US</h2>
  <h3>The Short Version:</h3>
  <p>
    We're Amy & Daniel! We like exploring! We're intentional about wandering!
  </p>

  <h3>The Long Version:</h3>
  <p>
    The word "wander" has an awful lot of connotations associated with it. It evokes a sense of aimlessness and a lack of purpose. A kid wanders around a strange store, lost. Somebody wanders into the wrong neighborhood and gets into trouble. A young college student wanders through their studies, not really sure what they want to do afterward.
  </p>
  <p>
    We (Amy & Daniel) think the word wander is beautiful. Wandering can be a spiritual practice of being open to the world around you, taking it in without having a specific agenda of your own to place over it. When wandering, you are exploring and perceiving and learning not to be in your own head so much. Yet wandering doesn.t require a set of extraordinary destinations or a special occasion. You can wander around your neighborhood and take it in with fresh eyes.
  </p>
  <p>
    When we decided to make a blog about our trip, our motivations were primarily a) to communicate with friends and family about our travels, b) for Daniel, to try out some new code, and c) to create something beautiful together to document this ever-changing period of our lives. But maybe it can also be a reminder to us that we are all surrounded by unique beauty. We are immensely grateful to have the opportunity to travel and explore more of the world we've always wanted to see. We invite you to join us, not only through checking in on what we're up to from time to time, but also to practice intentional wandering in your own way, wherever you're at.
  </p>
  <p>
    Thanks for being part of our journey.
  </p>
</div>
